.container {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.container:before,
.container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--border-width);
  background-color: rgb(var(--background-start-rgb));
  transition: all 0.3s ease;
}
.container.dark:before,
.container.dark:after {
  background-color: rgb(var(--foreground-rgb));
}

.container:before {
  transform-origin: bottom left;
  top: 70%;
  left: 1px;
}

.container:after {
  transform-origin: top left;
  top: 30%;
  left: 1px;
}

.crossed {
  transform: rotate(0deg);
}

.container.close:before {
  transform: rotate(-24deg);
}

.container.close:after {
  transform: rotate(24deg);
  height: var(--border-width);
}
