.container {
  --width: 500px;

  position: fixed;
  top: 180px;
  left: 7vw;
  width: var(--width);
  height: 600px;
  min-height: 220px;

  padding: 30px;
  padding-bottom: 20px;

  background-color: rgb(var(--background-start-rgb));
  outline: var(--border-width) solid rgb(var(--foreground-rgb));

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: var(--font-size);
}

.container > p {
  font-size: var(--font-size-title);
  padding-bottom: 25px;
}

.search-button-container {
  padding-bottom: 30px;
}

.option-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

.dropdown-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

@media only screen and (max-height: 820px) {
  .container {
    top: 135px;
    height: auto;
    font-size: var(--font-size-small);
  }
  .container > p,
  .container .search-button-container {
    padding-bottom: 10px;
  }
}

@media only screen and (max-height: 665px) {
  .option-list {
    flex-flow: row nowrap;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    --width: 100vw;

    justify-content: flex-start;

    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    height: 100vh;

    transform: translate(0, 0);

    padding: 25px;

    background-color: rgb(var(--background-start-rgb));
    outline: var(--border-width) solid rgb(var(--foreground-rgb));
  }
}

@media only screen and (max-height: 665px) and (max-width: 950px) {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container > P {
    padding-bottom: 10px;
  }
  .container > .search-button-container {
    padding-bottom: 15px;
  }
}
