.button {
  cursor: text;
  width: 100%;
  min-width: 150px;
  padding-bottom: 3px;
  font-family: Poppins, sans-serif;
  font-size: var(--font-size);
  text-align: end;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(var(--foreground-rgb));
  border-bottom: var(--border-width) solid rgb(var(--foreground-rgb));
}
