.presentation {
  height: min(70%, 550px);
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.slogan {
  max-width: 60%;
  flex-grow: 3;
  font-size: 1.2rem;
  padding-right: 50px;
}
.slogan hr {
  outline: calc(var(--border-width) / 2) solid rgb(var(--foreground-rgb));
  border: none;
  width: 70%;
  height: 0;
}
.slogan p {
  margin-top: 25px;
}

.slides-section {
  flex-grow: 2;
  height: 100%;
}

@media only screen and (max-width: 950px) {
  .presentation {
    height: auto;
    flex-flow: column;
  }
  .slogan {
    max-width: 100%;
    flex-basis: 0;
    font-size: 1rem;
  }
  .slides-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .slides-section:hover {
    transform: rotate(0deg);
  }
  .slides-section:hover img {
    box-shadow: 10px 10px 25px var(--box-shadow);
  }
}
