.page {
  display: flex;
  justify-content: flex-start;
  user-select: none;
}
.image-container {
  height: 100vh;
}
.image-container img {
  object-fit: cover;
  width: 50vw;
  height: 100vh;
}

@media only screen and (max-width: 950px) {
  .page .image-container:last-child {
    display: none;
  }
  .image-container img {
    width: 100vw;
  }
}
