.logo {
  user-select: none;
  font-weight: 1000;
  font-size: 3.2rem;
  color: rgb(var(--foreground-rgb));
}
.logo:hover {
  text-decoration: none;
}
.logo.big {
  user-select: auto;
  font-size: 5rem;
}
