.logo {
  user-select: none;
  font-weight: 100;
  font-size: 4rem;
  color: rgb(var(--background-start-rgb));
}
.logo:hover {
  color: rgb(var(--background-start-rgb));
}
.logo.dark {
  color: rgb(var(--foreground-rgb));
}
.logo.small {
  font-size: 2.35rem;
}
